<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoVis UE 2021</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--<script src="https://d3js.org/d3.v5.min.js"></script> -->

</head>
<body>
<div>

    My CSV data:
    <ul id="csv-list">
    </ul>

    <p id="raw">

    </p>
    <canvas id="myChart" width="400" height="400"></canvas>

</div>
<script src="{{ url_for('static',filename='js/lineChart.js') }}"></script>

<script>
    // following function calls are inside static/js/lineChart.js
    readCsvData();

    // plot the line chart
    // static/js/lineChart.js
    // plotLineChart();
</script>

</body>
</html>